
<!-- <em>There are currently <strong><%= @bars.count %></strong> bars in the database.</em> -->

<div id="bar-list">

  <!-- Search bar for filtering bars -->
  <input class="search" placeholder="Search">
  <button class="sort" data-sort="name">Sort by name</button>
  <button class="sort" data-sort="category">Sort by category</button>

  <br>
  <hr>

  <!-- List for filtering -->
  <ul class="list bar-index-list">
    <%= render partial: "bars", locals: { bars: @bars } %>
  </ul>
</div>

