
<!-- <em>There are currently <strong><%= @bars.count %></strong> bars in the database.</em> -->

<div id="loading-gif-area" class="text-xs-center">
  <%= image_tag "loading/alternate-loading-bars.gif", alt: "loading bars", class: "loading-gif" %>
  <br>
</div>

<div id="bar-search-area">
  <div class="jumbotron">

    <h1 class="montserrat" style="color: #003366">Choose a bar</h1>

    <hr>
    
    <!-- Search bar for filtering bars -->
    <div class="row">
      <div class="col-xs-6">
        <input class="search index-search-field card" placeholder="Search">
      </div>
      <div class="col-xs-6 text-xs-right">
        <button class="sort btn btn-sm btn-primary-outline index-search-button" data-sort="name">Sort by name</button>
        <button class="sort btn btn-sm btn-primary-outline index-search-button" data-sort="category">Sort by category</button>
      </div>
    </div>

    <!-- List for filtering -->
    <ul class="list" id="bar-index-list">
      <%= render partial: "bars", locals: { bars: @bars.first(10) } %>
    </ul>
    <hr>
  </div>
</div>

<br>
<br>

<script>

  // Hide the loading gif immediately
  $('#loading-gif-area').hide();
  $('#bar-search-area').hide();

  $(document).ready(function() {
    activateSearch()
    loadRemainingBars();
  })

  // Attach listeners for AJAX requests starting and ending
  $(document)
  .ajaxStart(function() {
    $('#loading-gif-area').fadeIn(1000);
  })
  .ajaxComplete(function() {
    $('#loading-gif-area').hide();
    $('#bar-search-area').show();
  })

  function loadRemainingBars() {
    $.ajax({
      url: "/bars/dynamic",
      cache: false,
      success: function(html){
        $.when($('#bar-index-list').append(html)).then(activateSearch());
      }
    })
  }

  function activateSearch() {
    var listOptions = {
      valueNames: [ 'name', 'category' ],
    };

    var wrapperElement = $('#bar-search-area')
    var barIndexList = new List(wrapperElement[0], listOptions);

  }

</script>
