
<!-- <em>There are currently <strong><%= @bars.count %></strong> bars in the database.</em> -->

<div id="bar-search-area">

  <!-- Search bar for filtering bars -->
  <input class="search" placeholder="Search">
  <button class="sort" data-sort="name">Sort by name</button>
  <button class="sort" data-sort="category">Sort by category</button>

  <br>
  <hr>

  <!-- List for filtering -->
  <ul class="list" id="bar-index-list">
    <%= render partial: "bars", locals: { bars: @bars.first(50) } %>
  </ul>
</div>

<br>
<hr>
<br>

<script>
  $.ajax({
    url: "/bars/dynamic",
    cache: false,
    success: function(html){
      $('#bar-index-list').append(html);
      activateSearch();
    }
  })

  function activateSearch() {
    var listOptions = {
      valueNames: [ 'name', 'category' ],
    };

    var wrapperElement = $('#bar-search-area')
    var barIndexList = new List(wrapperElement[0], listOptions);
  }
</script>
