<div class="jumbotron">
  <div id="mapgl"></div><br>
  <center>
    <div class="row">
    <div class="col-xs-6 text-xs-left">
        <input type="checkbox" id="subwaytoggle">
      </div>
      <div class="col-xs-6 text-xs-right">
        <button type='button' class='btn btn-secondary btn-normal' id='current-neighborhood'><strong>Neighborhood: </strong></button>
      </div>
    </div>
    <div class="row">
     <div class="col-xs-6 text-xs-left">
      <input type="checkbox" id="bartoggle" checked>
    </div>
  </div>
</center>
<hr>
<div id="sneakpeek"><center><h5>Click the Neighborhood button for a sneak peek of bars in the area</h5></center></div>
</div>

<hr>

<!-- mapbox -->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>

<!-- mapbox-GL -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet'>