<h1>Drink Up NYC</h1>
<h3>Designed by Alex Martin, Robert Hopkins, and Wesley Davis</h3>

<%= link_to "Signout", destroy_user_session_path, method: :delete %>

<div>
  <%= link_to "See all of the bars", bars_path %>
</div>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<br><br>
<div id="mapgl"></div><br>

<button id='togglesubway'>Toggle Subway ON</button>
<input id='subwaytoggle' type="checkbox" data-toggle="toggle">
