<br>
<!---switch!!!!!--->
<!-- <link href="bootstrap-switch.css" rel="stylesheet">
<script src="bootstrap-switch.js"></script>
 -->
<!-- mapbox -->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<!-- mapbox-GL -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
<br><br>
<div id="mapgl"></div><br>
<input type="checkbox" id="subwaytoggle">
<input type="checkbox" id="bartoggle" checked>
