<br>
<!---switch!!!!!--->
<!-- <link href="bootstrap-switch.css" rel="stylesheet">
<script src="bootstrap-switch.js"></script>
 -->
<!-- mapbox -->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<!-- mapbox-GL -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
<br><br>
<br>

<div id="mapgl"></div><br>
<center>
  <table style="width:100%">
    <tr>
      <td style="width:25%">
        <input type="checkbox" id="subwaytoggle">
      </td>
      <td style='width:25%'>
        <input type="checkbox" id="bartoggle" checked>
      </td>
      <td style='width:60%'>
        <button type='button' style='float:left' class='btn btn-secondary btn-normal' id='current-neighborhood'><strong>Neighborhood: </strong></button>
      </td>
    </tr>
  </table>
</center>
