<h1>Drink Up NYC</h1>
<h3>Designed by Alex Martin, Robert Hopkins, and Wesley Davis</h3>

<div>
  <%= link_to "See all of the bars", bars_path %>
</div>

<div>
  <%= link_to "See all of the users", users_path %>
</div>

<div id='map'>

  <script src='homepage_map.js'> </script>
  map
</div>
