// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#barmap{
  height: 300px;
  width: 100%;
}

.bar-interior-pic {
  max-height: 260px;
  border:1px solid #808080;
  box-shadow: 3px 3px 3px #888888;
}

.loading-gif {
  max-width:100%;
  max-height:100%;
  border:3px solid #003366;
}

.bar-index-card {
  border:1px solid #003366; 
}

.bar-index-card:hover {
  background-color: #5db596;
}

.btn-primary-outline {
  border: 2px solid #003366;
  color: #003366;
}

.btn-primary-outline:hover {
  background-color: #003366;
}


.index-search-field {
  margin-bottom: 0px;
  line-height: 35px;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid #003366; 
}

.index-search-button {
  margin-bottom: 0px;
  line-height: 25px;
  font-size: 16px;
}

.bar-card-link {
  color: inherit;
}

.bar-card-link:hover {
  text-decoration: none;
}