// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-index-card {
 border:1px solid #003366; 
}

.category-card-link {
  color: inherit;
}

.category-card-link:hover {
  text-decoration: none;
}

.category-index-card {
  border:1px solid #003366; 
}

.category-index-card:hover {
  background-color: #5db596;
}
