// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-follow {
  width: 102px;
}

.btn-unfollow {
  width: 102px;
}

.btn-primary {
  background-color: #003366;
  color: #ffffff;
}

.btn-align {
  position: relative;
  bottom: 18px;
}

.header-align{
  position: relative;
  top: 20px;
}