<% categories.each do |category| %>
<a href="<%= category_path(category) %>" class="category-card-link">
  <div class="card card-block category-index-card">
    <h4 class="name montserrat"><%= category.name %></h4>
  </div>
</a>
<% end %>