<div id="category-search-area">

  <!-- Search bar for filtering bars -->
  <input class="search" placeholder="Search">
  <button class="sort" data-sort="name">Sort by name</button>

  <br>
  <hr>

  <!-- List for filtering -->
  <ul class="list" id="category-index-list">
    <%= render partial: "categories", locals: { categories: @categories.first(20) } %>
  </ul>
</div>

<br>
<hr>
<br>

<script>

  $(document).ready(function() {
    activateSearch()
    loadRemainingBars();
  })

  function loadRemainingBars() {
    $.ajax({
      url: "/categories/dynamic",
      cache: false,
      success: function(html){
        $.when($('#category-index-list').append(html)).then(activateSearch());
      }
    })
  }

  function activateSearch() {
    var listOptions = {
      valueNames: [ 'name' ],
    };

    var wrapperElement = $('#category-search-area')
    var barIndexList = new List(wrapperElement[0], listOptions);
  }
  
</script>
