<div id="category-search-area">
  <div class="jumbotron">

    <h1 class="montserrat" style="color: #003366">Select a category</h1>

    <hr>
    
    <!-- Search bar for filtering bars -->
    <div class="row">
      <div class="col-xs-6">
        <input class="search index-search-field card" placeholder="Search">
      </div>
      <div class="col-xs-6 text-xs-right">
        <button class="sort btn btn-sm btn-primary-outline index-search-button" data-sort="name">Sort by name</button>
      </div>
    </div>

    <br>

    <!-- List for filtering -->
    <ul class="list" id="category-index-list">
      <%= render partial: "categories", locals: { categories: @categories.first(20) } %>
    </ul>
  </div>
</div>

<br>
<hr>
<br>

<script>

  $(document).ready(function() {
    activateSearch()
    loadRemainingBars();
  })

  function loadRemainingBars() {
    $.ajax({
      url: "/categories/dynamic",
      cache: false,
      success: function(html){
        $.when($('#category-index-list').append(html)).then(activateSearch());
      }
    })
  }

  function activateSearch() {
    var listOptions = {
      valueNames: [ 'name' ],
    };

    var wrapperElement = $('#category-search-area')
    var barIndexList = new List(wrapperElement[0], listOptions);
  }
  
</script>
