<div id="category-list">

  <!-- Search bar for filtering bars -->
  <input class="search" placeholder="Search">
  <button class="sort" data-sort="name">Sort by name</button>

  <br>
  <hr>

  <!-- List for filtering -->
  <ul class="list infinite-list">
    <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>" style="color: inherit">
      <div class="card card-block">
        <h4 class="name"><%= category.name %></h4>
      </div>
    </a>
    <% end %>
  </ul>
</div>