<div id="bar-search-area">
  <div class="jumbotron">
  <h2 class="montserrat" style="color: #003366"><%= @category.name %></h2>
    <hr>

    <!-- Search bar for filtering bars -->
    <div class="row">
      <div class="col-xs-6">
        <input class="search index-search-field card" placeholder="Search">
      </div>
      <div class="col-xs-6 text-xs-right">
        <button class="sort btn btn-sm btn-primary-outline index-search-button" data-sort="name">Sort by name</button>
        <button class="sort btn btn-sm btn-primary-outline index-search-button" data-sort="category">Sort by category</button>
      </div>
    </div>

    <!-- List for filtering -->
    <ul class="list infinite-list">
      <%= render partial: "bars/bars", locals: { bars: @category.bars } %>
    </ul>
  </div>
</div>

<script>

  $(document).ready(function() {
    activateSearch()
    loadRemainingBars();
  })

  function activateSearch() {
    var listOptions = {
      valueNames: [ 'name', 'category' ],
    };

    var wrapperElement = $('#bar-search-area')
    var barIndexList = new List(wrapperElement[0], listOptions);

  }

</script>