<footer class="navbar navbar-fixed-bottom navbar-dark bg-inverse" style="background-color:#003366">
  <div class="container">
    <p class="navbar-text text-muted">Created by Alex Martin, Robert Hopkins, and Wesley Davis</p>
  </div>
</footer>